@charset "UTF-8";

* {
    font-family: monospace;
    font-size: 1.2em;
}

h1 {
    text-align: center;
    font-size: 1.4em;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(226, 241, 255);
    margin: -3px 0px 5px 0px;
}

.container {
    display: grid;
    grid-template-rows: repeat(7, 80px);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.caixa1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;

    background-color: blueviolet;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    align-content: center;
    border: 2px solid black;
}

.caixa2 {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;

    background-color: forestgreen;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    align-content: center;
    border: 2px solid black;
}

.caixa3 {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;

    background-color: yellow;
    color: black;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    align-content: center;
    border: 2px solid black;
}

.caixa4 {
    grid-row-start: 4;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;

    background-color: aqua;
    color: black;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    align-content: center;
    border: 2px solid black;
}

.caixa5 {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;

    background-color: orange;
    color: black;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    align-content: center;
    border: 2px solid black;
}

.caixa6 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;

    background-color: lightslategrey;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    align-content: center;
    border: 2px solid black;
}

.caixa7 {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 5;

    background-color: darkblue;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    align-content: center;
    border: 2px solid black;
}

.caixa8 {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 2;

    background-color: burlywood;
    color: black;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    align-content: center;
    border: 2px solid black;
}

.caixa9 {
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 5;

    background-color: red;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    align-content: center;
    border: 2px solid black;
}