@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* CORES
    #6E6E6E (CINZA ESCURO)
    #E2E2E2 (CINZA CLARO)
    #002b00 (VERDE ESCURO)
    #E06E00 (LARANJA ESCURO) */

:root {
    --CINZA-ESCURO: #6E6E6E;
    --CINZA-CLARO: #E2E2E2;
    --VERDE-ESCURO: #002b00;
    --LARANJA-ESCURO: #E06E00;
}

.container {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 50px 40px 1fr 40px;
    grid-template-columns: 1fr 100px;
    gap: 5px;
}

.caixa {
    border: 1px solid blac;
    color: black;
}


body > div > main > h2 {
    text-align: center;
}

body > div > nav > a {
    text-decoration: none;
    background-color: var(--CINZA-ESCURO);
    color: white;
    padding: 8px;
    align-content: center;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    border-radius: 4px;
    box-shadow: 2px 1px 2px black;
}

#topo {
    grid-area: 1 / 1 / 2 / 3;

    text-align: center;
    background-color: var(--CINZA-ESCURO);
    padding: 10px;
    color: white;
    text-shadow: 1px 2px 1px black;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 1px 1px 8px black;
}

#menu {
    grid-area: 2 / 1 / 3 / 3;

    text-align: center;
    padding: 10px;
    margin-top: 5px;
}

#principal {
    grid-area: 3 / 1 / 4 / 2;

    text-indent: 20px;
    line-height: 30px;
    padding: 10px;
}

#lateral {
    grid-area: 3 / 2 / 4 / 3;
}

#rodape {
    grid-area: 4 / 1 / 5 / 3;
    text-align: center;
    font-weight: bold;
    background-color: var(--CINZA-ESCURO);
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 10px;

    border-radius: 5px 5px 0px 0px;
}